:root {
  --fs-detail: 16px;
  --fs_title: 18px;
  --color: #333333;
}

@media only screen and (min-width: 0px) {
  .k {
    position: relative;
    float: left;
  }

  .white {
    color: white;
    font-size: 20px;
  }

  .wf {
    width: 100%;
  }

  .main-container {
    position: relative;
    float: left;
  }

  html,
  body {
    position: relative;
    float: left;
    padding: 0;
  }

  .header {
    background-color: rgba(77, 172, 255, 0.3);
  }

  .header-logo,
  .drawer-logo {
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: url(../../assets/img/VNPT_Logo.png);
    width: 80px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header-title {
    color: rgba(0, 90, 171, 1);
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    padding: 20px;
  }

  /*
user
*/

  .border-tab-user {
    position: relative;
    float: right;
  }

  .name-user {
    color: rgba(0, 90, 171, 1);
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: right;
  }

  .tab-hover-user {
    position: absolute;
  }

  .form-text-logout {
    display: none;
    z-index: 1;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: -80px;
    width: max-content;
  }

  .text_logout {
    color: var(--color);
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(96, 171, 247);
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
  }

  .text_changelanguage {
    color: var(--color);
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(96, 171, 247);
    margin-top: 0.5px;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-weight: 600;
    padding: 5px 0;
    border: 0.5px solid rgba(247, 247, 242, 0.42);
    text-align: center;
  }

  .text-logout {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .border-tab-user:hover .form-text-logout {
    display: block;
  }

  .text_logout:before {
    position: absolute;
    content: "";
    border: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(96, 171, 247) transparent;
    top: -20px;
    right: 0px;
    height: 0;
    width: 0;
  }

  .footer-title {
    /* padding: 5px; */
    background-color: rgba(0, 90, 171, 1);
  }

  .btn-primary {
    float: right;
    text-align: right;
    margin-bottom: 0px;
    background-color: #387cbc;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }

  .btn-login {
    display: block;
    margin-top: 20px;
    margin-right: 30px;
    /* -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px; */
    float: right;
  }

  .modal-dialog {
    pointer-events: unset !important;
  }

  .fa-globe-europe {
    color: green;
    font-size: 20px;
  }
  .dropdown-toggle {
    color: rgba(0, 90, 171, 0.8);
    font-weight: 500;
  }
  .dropdown-item {
    color: rgba(0, 90, 171, 0.8);
  }
  /*-----------------------------------------*/
  .topnav {
    background-color: rgba(0, 90, 171, 0.8);
  }
  .topnav ul {
    border-bottom: 0 !important;
  }
  .left-drawer {
    width: 100%;
    height: 100%;
    background-color: #387cbc;
  }
}

@media only screen and (min-width: 901px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  /*-------- Language part-------- */
  .fa-globe-europe {
    color: white;
    font-size: 20px;
  }
  /* ------------Header------------ */
  .header-title {
    display: none;
  }

  .header {
    background-color: rgba(0, 90, 171, 0.8);
    height: auto;
  }

  .header-logo {
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: url(../../assets/img/VNPT_Logo.png);
    -webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
    width: 80px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .name-user {
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: right;
  }
  /* ----------Nav menu----------- */
  .pc {
    display: none;
  }
  .topnav {
    display: none;
  }
  .btn-menu {
    background-color: #387cbc;
    border: 1px solid rgba(51, 51, 51, 0.2);
    float: right;
    margin-right: 30px;
    margin-bottom: 5px;
  }
}
