:root {
  --fs-detail: 18px;
  --fs_title: 20px;
  --color: #333333;
}

@media only screen and (min-width: 0px) {
  .red {
    color: red;
  }
  .k {
    position: relative;
  }

  .wf {
    width: 100%;
  }

  .margin-t15 {
    margin-top: 15px;
  }

  .margin-b10 {
    margin-bottom: 10px;
  }

  .main-form {
    width: 100%;
    float: left;
  }

  /* ---------Header--------- */
  .main-container {
    padding: 10px;
  }

  /* ---------Card---------- */
  .card {
    padding: 5px;
    border: 0.5px solid rgba(51, 51, 51, 0.2);
    border-radius: 3px;
  }

  .card-title {
    background-color: rgba(13, 131, 235, 0.856);
    padding: 10px;
    font-weight: 400;
  }

  .card-title span {
    color: white;
  }

  .card-container {
    background-color: rgba(255, 255, 255, 1);
    overflow: auto;
    overflow-x: scroll;
  }

  .demonstration {
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 901px) {
    .flex-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 20px;
    }

    .col-sum {
      padding-inline-start: 20px;
      padding-inline-end: 20px;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: 900px) {
    .part {
      padding: 0 10px 20px 10px;
    }

    .col-sum {
      padding-inline-end: 20px;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: 450px) {
    .date-time-picker {
      width: 100%;
    }
  }

  /* -------Table------ */
  .table {
    width: 100%;
    border: 1px solid rgb(166, 198, 230);
    margin-bottom: 0;
  }

  .table-title {
    background-color: rgb(0, 217, 255);
  }

  .table tr {
    background-color: white;
  }

  tr:nth-child(even) {
    background-color: rgba(240, 248, 255, 1);
  }

  .high {
    background-color: rgba(255, 50, 20, 0.5);
    color: white;
  }

  .table th {
    border: 1px solid rgb(223, 232, 241, 1);
    font-weight: 400;
  }

  .check {
    width: 50px !important;
  }

  .pagination {
    float: right;
  }

  /*loading*/
  .loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    opacity: 0.8;
    background: url("../../assets/img/loading.svg") center no-repeat #fff;
    background-size: 60px;
  }

  /* ------b-modal------- */
  .modal-dialog {
    pointer-events: unset !important;
  }
  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .label {
    margin-bottom: 0 !important;
  }
  .text-create {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .select-item {
    width: 20px;
    height: 20px;
  }
}
